/tmp
/out-tsc
/node_modules
/.pnp
.pnp.js
.vscode/*
dist
.expo
.vercel
.turbo
coverage
*.log
.env
.env.local
apps/app/.env
apps/api/.env
apps/app/node_modules
apps/api/node_modules
paquetes/compartido/node_modules